@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
header h1 {
  font-size: 16px;
  text-align: center;
}
header nav {
  flex-grow: 1;
  width: 100%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 50px;
  background-color: rgb(255, 85, 0);
}
header nav ul li a {
  text-decoration: none;
  color: azure;
  font-size: 16px;
}
header nav ul li a:hover {
  color: rgb(17, 0, 255);
}
header img {
  margin-left: 10px;
  width: 200px;
  padding: 10px;
}
header div.dropdown {
  padding-right: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 22%);
  grid-template-rows: repeat(2, auto);
  gap: 0;
  justify-items: center;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.grid-container img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.container-marca {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  grid-template-rows: repeat(2, auto);
  gap: 0;
  justify-items: center;
  align-items: start;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}
.container-marca img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main img {
  display: block;
  width: 50%;
}

footer h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 50px;
}

/* Responsive para imágen del index */
main img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Responsive para imágen del index en Tablet */
@media (max-width: 1024px) {
  main img {
    width: 80%;
  }
}
/* Responsive para imágen del index en Móvil */
@media (max-width: 767px) {
  main img {
    width: 90%;
  }
}
/* Responsive para el grid usado en la página mujeres en tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
/* Responsive para el grid usado en la página mujeres en móvil*/
@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }
}
/* Responsive para el grid usado en la página marcas en tablet y móvil*/
@media (max-width: 940px) {
  .container-marca {
    grid-template-columns: 50%;
    grid-template-rows: repeat(4, auto);
  }
}
/* Responsive para el nav y los li usado móvil*/
@media (max-width: 767px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    height: auto;
  }
  header nav ul li {
    width: 100%;
    text-align: center;
  }
  header nav {
    height: auto;
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
