


@media (min-width: 768px) {
    header {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
    }
  
    nav ul {
      gap: 20px;
  
      li {
        font-size: 18px;
      }
    }
  }
  
  @media (max-width: 767px) {
    nav ul {
      display: none;
    }
  
    .dropdown {
      display: block;
    }
  
    main img {
      width: 90%;
    }
  }
  